<mat-toolbar color="primary">
  <button mat-button (click)="goHome()"> Home</button>
<!--  <button mat-button [matMenuTriggerFor]="menu">Menu</button>-->
<!--  <button mat-button (click)="getMedications()"> Medications</button>-->
<!--  <button mat-button (click)="getCaregivers()"> Caregivers</button>-->
  <button mat-button (click)="getPatients()"> Patients</button>
<!--  <button mat-button (click)="geNotifications()"> Notifications</button>-->
<!--  <mat-menu #menu="matMenu">-->
<!--    <button mat-menu-item (click)="getUsers()" color="primary">Persons</button>-->
<!--  </mat-menu>-->

</mat-toolbar>
